@CHARSET "UTF-8";

* {
	box-sizing : border-box;
}

#page-wrapper {
	position: relative;
	background: linear-gradient(to right, #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
	
}

table, th, td {
   border: 1px solid;
}

div#header {
	height: 60px;
	background-image: url(../images/navigation_background.png); 
}

div#appname {
	vertical-align: middle;
	text-align: left;
	padding: 0 10%;
}

div#appname h1 {
	position: relative;
	top: 1em;
	display: inline-block;
}

div#appname h1::before {
	content: " ";
	display: inline-block;
	width: 100px;
	height: 1em;
	
}

nav#nav-menu {
	width: 33.3%;
	position: absolute;
	right: 0;
	top: 60px;
	padding-top: 48px;
}

nav#nav-menu li {
	padding: 0.2em 20% 0.2em 10%;
}

div#footer {
	background-color: Gainsboro;
	clear: both;
	padding: 3em 10%;
	text-align: center;
}